.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__Icon {
  transform: scale(1.2);
  color: black;
}
