.sidebar {
  -webkit-box-shadow: 1px 0px 10px 0px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 0px 10px 0px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 0px 10px 0px #ccc;
  background-color: white;
  padding-top: 40px;
}

.active_link {
  border-left: 4px solid red !important;
  border-radius: 0px !important;
}
