.app {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
}
